body {
    /* background: #bada55; */
    color: rgba(25, 159, 203, 0.432)
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    font-weight: 900;
}